<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage prescrip</title>
</head>
<body>
    <h2>Add prescrip</h2>
    <form  method="post">
        {% csrf_token %}

        <label for="patient">Patient:</label>
        <select id="patient" name="PATIENT">
    <option value="">------ please select a patient -------</option>
    {% for i in c %}
        <option value="{{ i.PATIENT.id }}"
            {% if val.PATIENT.id == i.PATIENT.id %}selected{% endif %}>
            {{ i.PATIENT.Name }}
        </option>
    {% endfor %}
</select>
<br><br>

        

        <label for="Prescription">prescription:</label>
        <input type="text" id="Prescription" name="Prescription" value="{{val.Prescription}}"><br><br>
        


        <input type="submit" value="Update">
</body>
</html>