<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage prescrip</title>
</head>
<body>
    <h2>Add prescrip</h2>
    <form  method="post">
        {% csrf_token %}

        <label for="patient">Patient:</label>
        <select id="patient" name="PATIENT" required>
            <option value="">------ please select a patient -------</option>
            {% for i in val %}
            <option value="{{i.PATIENT.id}}">{{i.PATIENT.Name}}</option>
            {% endfor %}
        </select><br><br>

        

        <label for="Prescription">prescription:</label>
        <input type="text" id="Prescription" name="Prescription"><br><br>
        


        <input type="submit" value="add">
</body>
</html>