<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage post</title>
</head>
<body>
    <table  border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>image</th>
            <th>description</th>
            <th>Action</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.Image }}</td>
            <td>{{ i.Document }}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Add new">
</body>
</html>