<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post table</title>
</head>
<body>
    <table  border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>image</th>
            <th>description</th>
            <th>Action</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{% if i.Image %}<img src="{{ i.Image.url }}" alt="" height="100px" width="100px">{% else %} no image {% endif %}</td>
            <td>{{ i.Document }}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="manage"><input type="submit" value="add"></a>
</body>
</html>