<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view patient table</title>
</head>
<body>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>PhNumber</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.Name }}</td>
            <td>{{ i.Age }}</td>
            <td>{{ i.Gender }}</td>
            <td>{{ i.PhNumber }}</td>
            <td>{{ i.Email }} </td>
            <td>{{ i.Address }}</td>
            <td>
            
                <a href="delete_patient/{{i.LOGIN.id}}" onclick="return confirm('Are you should want to delete this person')"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>