<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view doctor table</title>
</head>
<body>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>PhNumber</th>
            <th>Address</th>
            <th>Specialization</th>
            <th>HospitalName</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.Name }}</td>
            <td>{{ i.PhNumber }}</td>
            <td>{{ i.Address }}</td>
            <td>{{ i.Specialization }}</td>
            <td>{{ i.HospitalName }}</td>
            <td>{{ i.Email }}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Add">
</body>
</html>