<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view medicine</title>
</head>
<body>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>medicine</th>
            <th>description</th>
            <th>quantity</th>
            <th>price</th>
            <th>Actions</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.Medicine }}</td>
            <td>{{ i.Description }}</td>
            <td>{{ i.Quantity }}</td>
            <td>{{ i.Price }}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="manage_medi"><input type="submit" value="Add"></a>
</body>
</html>